*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
}
.item-hover:hover {
    color: #ffc107 !important;
    border-bottom: 2px solid #f2cc54;
    transition: ease-in-out 0.2s;
}

